.weight{
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}
.weight table{
    margin-bottom: 1rem;
    background-color: #FFFFFF22;
    text-align: center;
    flex-grow: 0;
}
.weight table th{
    background-color: #FFFFFF44;
    padding: 0.5rem;
    text-align: center;
    white-space: nowrap!important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}
.weight table td{
    white-space: nowrap!important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.weight > div{
    flex-grow: 1;
    position: relative;
    margin-bottom: -2rem;
    margin-right: -1.5rem;
}
.weight > div > div{
}

.weight svg{
}

 .weight svg > g.highcharts-grid.highcharts-xaxis-grid > path:nth-child(1){
    stroke-width: 3px;
    stroke: #FFFFFFBB;
}

.weight .highcharts-xaxis .highcharts-axis-line{
    stroke-width: 3px;
    stroke: #FFFFFFBB;
}