.admin-layout {
  .mantine-AppShell-navbar {
    background-color: var(--mantine-color-body);
    border-right: 1px solid var(--mantine-color-dark-4);
  }

  .mantine-AppShell-header {
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid var(--mantine-color-dark-4);
  }

  .mantine-AppShell-main {
    background-color: var(--mantine-color-body);
  }
}
