

.content-scroller {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: background-position 0.2s linear;
  h2 {
    text-align: center;
    background-color: #222;
    color: #ffffff99;
    font-size: 3rem;
    line-height: 4rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2rem;
  }
  h3 {
    text-align: center;
    background-color: #111;
    color: #ffffff66;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0;
    //no break, single line only
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 0 2rem;
  }

  .textpanel {
    // padding-top: 3rem;
    flex-grow: 1;
    overflow: hidden;
    font-family: "Scripture", serif;
    color: #000;
    position: relative;
    /* fade in */
    opacity: 1;
    transition: opacity 6s;

    &.fade-out {
      opacity: 0;
      transition: opacity 3s;
    }

    &.init {
      opacity: 0;
    }
  }

  .scrolled-content {
    padding: 0 0;
    transition: transform 0.2s;
    width: 100%;
    padding-left: 2rem;
    &.seeking {
      transition: none !important;
    }
  }

  .controls {
    background-color: #333;
    height: 2rem;
    position: relative;
    flex: 0 0 auto;
    width: 100%;
  }

  .seek-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    user-select: none;
    cursor: pointer;
  }

  .seek-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #51443b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
    transition: width 0.1s linear;

    .current-time {
      padding: 0.5ex;
      font-weight: bold;
      padding-right: 1ex;
      border-right: 1px solid #ffffff;
    }
  }

  .total-time {
    padding: 0.5ex;
    font-weight: bold;
    position: absolute;
    z-index: -1;
  }
}

/* Scriptures-specific */
.content-scroller.scriptures {


  .scripture-text{
    padding: 1rem 2rem 20rem 2rem;
    margin-top: -2rem;
  }
  .verse-headings {
    margin-top: 0;
  }
   .background .verse-text,  
   .summary  .verse-text{
      font-style: italic;
      color: #7c340aAA;
      line-height: 5.9rem;
      font-size: 2.4rem;
      margin-top: 2rem;
      text-align: justify;

  }
  .heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.4rem;
    line-height: 1;
    margin: 3rem 0 0 0;
  }
  .verse-number {
    font-size: 1rem;
    color: #5d340855;
    position: relative;
    margin-left: 1ex;
    top: -2ex;
    right: -0.1ex;
    font-family: "Roboto Condensed", sans-serif;
  }
  .verse-text {
    color: #5d3408;
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .verse-text:first-child {
    margin-left: 0;
  }

  blockquote {
    border-left: 0.5ex solid #5d340844;
    padding-left: 2rem;
    margin-left: 2rem;
    letter-spacing: -1px;
    line-height: 2.4rem;
  }
  blockquote .verse-text{
    font-size: 2.2rem!important;
  }
}

/* Hymn / Singalong-specific */
.content-scroller.hymn, .content-scroller.singalong {
  background-color: #fdf0d588;
  // var for height of this panel
  --textpanel-height: 100%;


  .hymn-text, .singalong-text {
    padding-top: 2rem;
    padding-bottom: calc(0.2 * var(--textpanel-height)); // 60% of .textpanel height
    font-size: 3rem;
    margin-bottom: 2rem;
    .stanza {
      margin-bottom: 1.5rem;
      p {
        margin: 0;
        line-height: 1;
        margin-left: 2rem;
      }
      p:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}

/* Song-specific */
.content-scroller.song {
  .song-lyrics {
    p {
      margin: 0 0 1rem;
    }
  }
}

/* Poetry-specific */
.content-scroller.poetry {
  background-color: #fdf0d588;
  // var for height of this panel
  --textpanel-height: 100%;
  
  .poetry-text {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: calc(0.2 * var(--textpanel-height)); // 60% of .textpanel height
    font-size: 3rem;
    margin-bottom: 2rem;
    
    > div {
      display: inline-block;
      text-align: left;
    }
    .stanza {
      margin-bottom: 1.5rem;
      p {
        margin: 0;
        line-height: 1;
        margin-left: 2rem;
      }
      p:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}

/* Audiobook-specific */
.content-scroller.audiobook {
  .audiobook-text {
    p {
      margin-bottom: 1rem;
    }
  }
}


.talk .textpanel{
  background-color: #fdf0d5;
  padding-bottom: 20%;

}

.talk .talk-text {
  padding: 2rem 2rem 15rem 2rem;
  font-size: 2rem;
  line-height: 0.9;
  margin-bottom: 2rem;
  text-align: justify;
}
.talk .talk-text.paragraphs {
  margin-left: 0;
}
.talk .talk-text p{
  margin: 0;
  margin-bottom: 1rem;
}

.talk .talk-text h4{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  text-align: left;
  margin-bottom: 0.5ex;
  font-size: 2rem;
  margin-left: -0.5ex;
}

.talk video{
  object-fit: cover;
  width: 35%;
}

.content-container {
  display: flex;
  flex-grow: 1;
  display: flex;
}


.talk.content-scroller {
  * {
    transition: all 0.5s ease-in-out;
  }
  .seek-bar, .seek-bar *, .seek-progress, .current-time, .controls * {
    transition: none;
  }
  .seek-progress {
    transition: width 0.1s linear;
  }
  &.night {
    video { filter: brightness(0.2) grayscale(100%) sepia(2) hue-rotate(-20deg); }
    * { background-color: #000; color: #ff000033; }
    h2, h3, .controls { color: #ff000022 !important; }
    .current-time { border-color: #ffffff11 !important; background-color: #00000000 !important;  }
    .seek-progress { background-color: #ffffff11 !important; }
  }
  &.video {
    h2, h3, .controls { display: none; height: 0 !important; }
    .textpanel { display: none; }
    video { width: 100%; }
  }
  &.text {
    h2, h3, .controls { display: none; height: 0 !important; }
    .textpanel { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
    video { display: none; }
  }
  &.dark {
    * { filter: brightness(0);}
  }
  &.screensaver{
    * { filter: grayscale(1) sepia(1) brightness(0.5); }
  }
  &.minimal {
    h2, h3, .controls { display: none; height: 0 !important; }
    video{ position: absolute; left: 50%; top: 0; width: 50%; height: 100%; }
    .textpanel{ position: absolute; left: 0; top: 0; width: 50%; height: 100%; }
  }
}

.scriptures.content-scroller {

  &.night {
    video { filter: brightness(0.2) grayscale(100%) sepia(2) hue-rotate(-20deg); }
    * { background-color: #000; color: #ff000033; }
    h2, h3, .controls { display: none; height: 0 !important; color: #ff000022 !important; }
    .current-time { border-color: #ffffff11 !important; background-color: #00000000 !important;  }
    .seek-progress { background-color: #ffffff11 !important; }
    .scripture-text{ background-image: none!important;}
  }

  &.dark {
    * { filter: brightness(0);}
  }
  &.screensaver{
    * { filter: grayscale(1) sepia(1) brightness(0.5); }
  }
  &.minimal {
    h2, h3, .controls { display: none; height: 0 !important; }
    .textpanel{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
  }
}

.hymn.content-scroller, .singalong.content-scroller {

  &.night {
    * { background-color: #000; color: #ff000033; }
    h2, h3, .controls { display: none; height: 0 !important; color: #ff000022 !important; }
    .current-time { border-color: #ffffff11 !important; background-color: #00000000 !important; }
    .seek-progress { background-color: #ffffff11 !important; }
    .hymn-text, .singalong-text { background-image: none!important; }
  }

  &.dark {
    background-color: #000;
    * { filter: brightness(0)!important; }
    .content-container{opacity: 0!important;}
  }
  &.screensaver {
    * { filter: grayscale(1) sepia(1) brightness(0.5); }
  }
  &.minimal {
    h2, h3, .controls { display: none; height: 0 !important; }
    .textpanel { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
  }
}

.poetry.content-scroller {

  &.night {
    * { background-color: #000; color: #ff000033; }
    h2, h3, .controls { display: none; height: 0 !important; color: #ff000022 !important; }
    .current-time { border-color: #ffffff11 !important; background-color: #00000000 !important; }
    .seek-progress { background-color: #ffffff11 !important; }
    .poetry-text { background-image: none!important; }
  }

  &.dark {
    background-color: #000;
    * { filter: brightness(0)!important; }
    .content-container{opacity: 0!important;}
  }
  &.screensaver {
    * { filter: grayscale(1) sepia(1) brightness(0.5); }
  }
  &.minimal {
    h2, h3, .controls { display: none; height: 0 !important; }
    .textpanel { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
  }
}

