.tv-app .player {
    position: relative;
    height: 100%;
    width: 100%;
}

.tv-app .player > div {
    height: 100%;
    width: 100%;
}

.video-player{
    position: relative;;

}

.video-element{
    width: 100%;
    height: 100%;
}

.vjs-control-bar{
    opacity: 0.1!important;
    display: none!important;
}
.video-player > div{
    height: 100%;
    width: 100%;
}

.video-player > h2{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4rem;
    z-index: 99;
    width: 100%;
    text-align: center;
    background-color: #000000AA;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    padding: 0 15%;
    line-height: 1;
}

.player  .progress-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5ex;
    z-index: 99;
    width: 100%;
    background-color: #00000044;
}
.player .progress-bar > .progress{
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: #2a9d8f99;
}

.audio-player {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    padding-top: 2rem;
    overflow: hidden; /* Ensure contents are contained */
    h2{
        margin-bottom: 2rem;
        padding: 0 15%;
        line-height: 1;
    }
    p{
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
    }
}

.audio-player > .image-container {
    flex-grow: 1; /* Allow the image to grow and fill available space */
    height: 0; /* Set height to 0 to rely on flex-grow */
    max-height: 100%; /* Prevent overflow */
    aspect-ratio: 1 / 1; /* Maintain a square aspect ratio */
    margin: 2rem;
    border-radius: 1rem;

}
.audio-player > .image-container > img.cover {
    height: 100%;
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: 0 1ex 1ex rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.audio-player > .image-container > img.loading {
    position: absolute;
    top:30%;
    left: 30%;
    width: 40%;
    height: 40%;
}


.shader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #000;
    transition: background-color 0.5s;
    pointer-events: none;
}
.shader.off     { background-color: #00000000;}
.shader.low     { background-color: #00000055;}
.shader.medium  { background-color: #000000AA;}
.shader.high    { background-color: #000000EE;}
.shader.full    { background-color: #000000FF;}
