.tv-app-container{
    * { -webkit-tap-highlight-color: rgba(0,0,0,0); }
    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    *:focus {
        outline: none;
    }
}


.tv-menu-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    transition: transform 0.3s ease-in-out;

    h2{
        margin-bottom: 2rem;
    }

.tv-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    flex-grow: 1;
    padding-bottom: 30%;
}
.menu-button {
    background-color: #ffffffAA;
    color: #000;
    aspect-ratio: 1 / 1; /* Ensures a square ratio */
    background-size: contain; /* Forces background to size to the container */
    background-repeat: no-repeat; /* Prevents background from repeating */
    background-position: center; /* Centers the background within the container */
}

.menu-button.highlighted {
    background-color: #ffffffff;
    outline: 3px solid #007bff;
    transform: scale(1.05) ;
    color: black;
    box-shadow: 0 0 1rem #FFFFFFFF
}
.menu-button.highlighted img{
    filter: brightness(1.1);
}


.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1.15; /* Ensures a square ratio */
    border-radius: 1rem;
    background-color: #ffffff22;
    font-size: 16px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, transform 0.2s;
    flex-direction: column;
    overflow: hidden;

    .menu-button-img {
        flex-grow: 1;
        width: 100%;
        height: calc(100% - 2rem);
        background-color: #000;
        overflow: hidden;

    }
    .menu-button-img > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.3s;
    }
    .menu-button-img.landscape img,
    .menu-button-img.portrait img{
        object-fit: contain;
        scale: 1.2;
        z-index: -1;
        background-color: #999;
    }

    h3 {
        flex-shrink: 0;
        flex-grow: 0;
        padding: 0.5ex;
        margin: 0;
        text-align: center;
        line-height: 1;
        width: 100%;
        z-index: 99;

    }
}




}
