@use '../shared/styles/rpm-device' as *;

.fullscreen-vitals-overlay {
  position: absolute;
  bottom: clamp(14px, 4vw, 32px);
  right: clamp(14px, 4vw, 32px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  pointer-events: auto;
  cursor: pointer;
  z-index: var(--fitness-fullscreen-vitals-z, 80);

  &.anchor-left {
    right: auto;
    left: clamp(14px, 4vw, 32px);
    align-items: flex-start;

    .fullscreen-vitals-group {
      justify-content: flex-start;

      &.hr-group {
        align-items: flex-start;

        &.count-3,
        &.count-4,
        &.count-5,
        &.count-6 {
          justify-content: flex-start;
        }
      }
    }
  }

  &.anchor-right {
    align-items: flex-end;
  }

  .fullscreen-vitals-group {
    display: flex;
    gap: clamp(10px, 1vw, 18px);
    pointer-events: none;

    &.hr-group {
      flex-direction: column;
      align-items: flex-end;

      &.count-3,
      &.count-4,
      &.count-5,
      &.count-6 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
      }

      .vital-avatar {
        margin: clamp(4px, 0.4vw, 10px);
      }
    }
  }

  .rpm-group {
    flex-direction: row;
    align-items: flex-end;
  }

  .vital-rpm {
    --rpm-scale: 1;
    width: 68px;
    height: 68px;
    @include rpm-device-base;
    pointer-events: none;

    .rpm-avatar-wrapper {
      @include rpm-avatar-wrapper;
    }

    .rpm-spinning-border {
      @include rpm-spinning-border;
    }

    .rpm-avatar-content {
      @include rpm-avatar-content;
    }

    .rpm-value-overlay {
      @include rpm-value-overlay;
    }

    @include rpm-zone-colors;
  }
}

// rpm-spin keyframe is now defined in shared/_rpm-device.scss