$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$color-primary: #0055ff;
$color-secondary: #2f2d2b;
$color-dark: #222;
$color-light: #fafafa;
$color-bg: #f0f0f0;

$spacing-unit: 1rem;

/* 2. Mixins & Functions */
@mixin transition($property: all, $duration: 0.3s, $timing: ease-in-out) {
  transition: #{$property} #{$duration} #{$timing};
}

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-items-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2 * $spacing-unit;
  position: relative;
  @include transition(transform, 0.3s, ease-in-out);

  h2 {
    margin-bottom: 2 * $spacing-unit;
    text-align: center;
    background-color: #333;
    border-radius: 1rem;
  }



.menu-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;

  align-items: center;
  gap: 2 * $spacing-unit;
  flex-grow: 1;
  padding-bottom: 30%;
  
}
.menu-items.count_1,
.menu-items.count_2,
.menu-items.count_3,
.menu-items.count_4,
.menu-items.count_5{
  justify-content: space-around;
}


  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(20% - 1.6 * $spacing-unit);
    aspect-ratio: 1 / 1.19;
    outline: 1px solid $color-secondary;
    border-radius: 1rem;
    background-color: rgba($color-light, 0.13);
    font-size: 16px;
    font-weight: bold;
    color: $color-secondary;
    cursor: pointer;
    position: relative;
    @include transition(background-color 0.3s, transform 0.2s);
    flex-direction: column;
    overflow: hidden;
    &.active {
      .menu-item-label {
        color: #000;
      }
      .menu-item-img, 
      .menu-item-img img{
        background-color: #FFF;
      }
    }

      .menu-item-label {
        color: #AAA;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }



    .menu-item-img {
      flex-grow: 1;
      width: 100%;
      aspect-ratio: 1;
      background-color: $color-dark;
      overflow: hidden;
      display: flex;
      justify-content: center;
      background-color: #111;

    }
    .menu-item-img img {
      background-color: #111;
      object-fit: cover;
    }

    .menu-item-img.landscape img{
      width: 100%;
      object-fit: contain;
      scale: 1.2;
    }
    .menu-item-img.portrait img{
      object-fit: contain;
      scale: 1.2;

    }
    .menu-item-img.square img {
      background-color: $color-secondary;
    }

    h3 {
      flex-shrink: 0;
      flex-grow: 0;
      padding: 0.5ex;
      margin: 0;
      text-align: center;
      line-height: 1;
      width: 100%;
      z-index: 99;
    }
  }

  .menu-item.active {
    background-color: $color-light;
    outline: 3px solid $color-primary;
    transform: scale(1.05);
    color: $color-dark;
    box-shadow: 0 0 1rem $color-light;
  }

  .menu-item.active img {
    filter: brightness(1.1);
  }


  .progress-bar {
    height: 10px;
    width: 100%;
    background-color: #00000066;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.progress {
    height: 100%;
    background-color: #c1dad8;
    transition: width 0.1s linear;
    border-right: 2px solid #000;
}


}
