
.App{
    font-family: 'Roboto Condensed', sans-serif!important;
    color: #FFFFFFAA!important;
    display: flex;
    justify-content: center;
}

.sidebar{
    width: 25vw;
    height: auto;
    flex-grow: 0;
    margin: 2rem;
    background-color: #FFFFFF22;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.content{
    flex-grow: 1;
    height: calc(100vh - 4rem);
    margin: 2rem 2rem 2rem 0;
    background-color: #FFFFFF22;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}


h2{
    margin: 0;
}