@import '../../styles/variables';

.app-progress-ring {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__svg {
    transform: rotate(-90deg);
  }

  &__fill {
    stroke-linecap: round;
    
    &--animated {
      transition: stroke-dashoffset 0.35s ease-out;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
