.fitness-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  background-color: #000;
  font-family: 'Roboto Condensed', sans-serif;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.fitness-app-viewport {
  display: flex;
  //1366 x 768
  width:1366;
  height: 768;
  aspect-ratio: 16/9;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
  color: #FFF;
  overflow-y: scroll;
  padding-left: 4rem;
  
  /* Ensure we maintain aspect ratio when constrained by either dimension */
  @media (max-aspect-ratio: 16/9) {
    /* Window is taller than 16:9, constrain by width */
    width: 1380px;
    height: 768px;
  }
  
  @media (min-aspect-ratio: 16/9) {
    /* Window is wider than 16:9, constrain by height */
    width: 1380px;
    height: 768px;
  }
}
