.root-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #1a1a2e;
  color: #fff;

  .root-menu-container {
    text-align: center;
    
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #eee;
    }

    p {
      color: #888;
      font-size: 1.2rem;
    }
  }
}
