.tv-app-container{
    font-family: 'Roboto Condensed', sans-serif!important;
    color: #FFFFFFAA!important;
    display: flex;
    height: 720px;
    width: 1280px;
    overflow: hidden;
    position: relative;
    background-color: #000;
    outline: 1px solid #FFFFFF22;
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    * { -webkit-tap-highlight-color: rgba(0,0,0,0); }
    // Kill all animations/transitions for low-performance kiosk
    *, *::before, *::after {
        animation-duration: 0s !important;
        animation-delay: 0s !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    *:focus {
        outline: none!important;
    }

}
.tv-app-container:focus {
    outline: none!important;
}
.tv-app {
    width: 1024px; /* TODO: Should get from config */
    height: 575px; /* TODO: Should get from config */
    background-color: #000000;
    box-shadow: 0 4px 8px #000000; /* optional shadow */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    overflow: hidden;
}

.tv-app__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.tv-app__content > * {
    flex: 1 1 100%;
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
}


.tv-app .scripture-text span{
    scale: 0.5!important;
}