.tv-app-container{
    font-family: 'Roboto Condensed', sans-serif!important;
    color: #FFFFFFAA!important;
    display: flex;
    height: 720px;
    width: 1280px;
    overflow: hidden;
    position: relative;
    background-color: #000;
    outline: 1px solid #FFFFFF22;
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111; // optional background color
    * { -webkit-tap-highlight-color: rgba(0,0,0,0); }
    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    *:focus {
        outline: none!important;
    }

}
.tv-app-container:focus {
    outline: none!important;
}
.tv-app {
    width: 1024px;
    height: 580px;
    background-color: #222222; /* optional background color */
    box-shadow: 0 4px 8px #000000; /* optional shadow */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    overflow: hidden;
}

.tv-app__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.tv-app__content > * {
    flex: 1 1 100%;
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}


.tv-app .scripture-text span{
    scale: 0.5!important;
}